apiVersion: apps/v1
kind: Deployment
metadata:
  name: productor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productor
  template:
    metadata:
      labels:
        app: productor
    spec:
      containers:
      - name: productor
        image: productor:v1
        imagePullPolicy: Never
        env:
        - name: REDIS_HOST
          value: "bd-svc"
        - name: REDIS_PASS
          valueFrom:
            secretKeyRef:
              name: redis-pass
              key: password