apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bd-redis
spec:
  selector:
    matchLabels:
      app: bd-redis
  template:
    metadata:
      labels:
        app: bd-redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        args: ["--requirepass", "$(REDIS_PASS)", "--appendonly", "yes"]
        ports:
        - containerPort: 6379
        env:
        - name: REDIS_PASS
          valueFrom:
            secretKeyRef:
              name: redis-pass
              key: password
        volumeMounts:
        - name: redis-storage
          mountPath: /data
      volumes:
      - name: redis-storage
        persistentVolumeClaim:
          claimName: redis-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: bd-svc
spec:
  selector:
    app: bd-redis
  ports:
    - port: 6379
      targetPort: 6379